    <footer class="footer">
      <div class="container">
        <div class="info d-flex jcsb">
          <div class="info-contact-link">
            <div class="info-link">
              <ul class="link-list d-flex jcsb aic">
                <li class="link"><a href="#">首頁</a></li>
                <li class="link"><a href="#">系列鏡框</a></li>
                <li class="link"><a href="#">門市據點</a></li>
                <li class="link"><a href="#">部落格</a></li>
                <li class="link"><a href="#">常見問題</a></li>
              </ul>
            </div>
            <div class="info-contact">
              <h4 class="h4">
                <img
                  class="info-icon"
                  src="../assets/images/phone.png"
                  alt="phone-icon"
                />0800-000-000
              </h4>
              <h4 class="h4">
                <img
                  class="info-icon"
                  src="../assets/images/email.png"
                  alt="email-icon"
                />glasses@business.com
              </h4>
            </div>
          </div>
          <div class="info-social d-flex jcsb">
            <div class="info-img">
              <img
                src="../assets/images/ic-social-fb.png"
                alt="fb-icon"
                class="info-img"
              />
            </div>
            <div class="info-img">
              <img
                src="../assets/images/ic_social_ig.png"
                alt="ig-icon"
                class="info-img"
              />
            </div>
            <div class="info-img">
              <img
                src="../assets/images/ic_social_line.png"
                alt="line-icon"
                class="info-img"
              />
            </div>
          </div>
        </div>
        <hr />
        <div class="copy d-flex jcsb">
          <div class="copy-section mb-8">
            <p>Copyright © 2020 Glasses.All rights reserved.</p>
          </div>
          <ul class="term-list d-flex jcsb">
            <li class="term mb-8">隱私權政策</li>
            <li class="term">服務條款</li>
          </ul>
        </div>
      </div>
    </footer>
