<div class="nav">
  <div class="container d-flex jcsb aic">
    <img
      class="logo-img"
      src="../assets/images/logo-white.png"
      alt="logo"
    />
    <ul class="nav-bar d-flex jcsb fz-20">
      <li class="nav-link"><a href="#">系列鏡框</a></li>
      <li class="nav-link"><a href="#">門市據點</a></li>
      <li class="nav-link"><a href="#">部落格</a></li>
      <li class="nav-link"><a href="#">常見問題</a></li>
    </ul>
  </div>
</div>
