/* pages */
.nav {
  background-color: $primary;
  color: #ffffff;
  padding: 12px 0;
  @include mobile {
    padding: 0;
  }
  .container {
    @include mobile {
      display: block;
      padding: 0;
    }
  }

  &-bar {
    gap: 64px;
    @include mobile {
      gap: 0;
      flex-wrap: wrap;
    }
  }
  &-link {
    @include mobile {
      padding: 12px 0;
      text-align: center;
      width: 50%;
      border: 1px solid white;
    }
  }
  .logo-img {
    width: 80px;
    @include mobile {
      margin: 12px 0;
      margin-left: 15px;
    }
  }
}
