.logo-img {
  width: 80px;
}
@media (max-width: 576px) {
  .logo-img {
    margin: 12px 0;
    margin-left: 15px;
  }
}
.header {
  padding: 296px 0;
  background-image: url(/assets/images/home-header.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: #650300;
  text-align-last: right;
}
@media (max-width: 992px) {
  .header {
    background-image: url(/assets/images/home-header-sm.png);
  }
}
.header .h1 {
  font-size: 64px;
  font-weight: bold;
}
.header .serice {
  font-size: 36px;
}
.header .btn {
  padding: 6px 12px;
  background-color: #aa0601;
  color: #ffffff;
  border: none;
  cursor: pointer;
}
.contact .contact-btn {
  display: block;
  padding: 16px 0;
  margin: 0 auto;
  width: 416px;
  color: #ffffff;
  background-color: #aa0601;
  border: none;
  cursor: pointer;
}
.contact .contact-btn:hover {
  background-color: #650300;
}
@media (max-width: 576px) {
  .header .h1 {
    font-size: 24px;
  }
  .header .serice {
    font-size: 16px;
  }
  .header .btn {
    font-size: 20px;
  }
  .contact .contact-btn {
    width: 100%;
  }
}
.service-section {
  padding: 80px 0;
  background-color: #fbf2f2;
  text-align: center;
}
.service-section .service-title {
  color: #650300;
  font-weight: bold;
  margin-bottom: 30px;
}
@media (max-width: 576px) {
  .service-section {
    padding: 40px 0;
  }
  .service-section .mb-30 {
    margin-bottom: 30px;
  }
}
.service-section .service-content {
  text-align-last: left;
}
.card-list {
  flex-wrap: wrap;
}
.card-list .card {
  width: calc(25% - 18px);
}
.card-list .card .card-title {
  font-size: 24px;
  font-weight: bold;
}
@media (max-width: 992px) {
  .card-list .card {
    width: calc(50% - 12px);
  }
}
@media (max-width: 576px) {
  .card-list .card {
    width: 100%;
  }
}
.card .card-title {
  margin-bottom: 8px;
}
.card .card-img {
  width: 100px;
  margin-bottom: 16px;
}
.classic-glasses {
  padding: 80px 0;
  text-align: center;
}
.classic-glasses .classic-title {
  color: #650300;
  margin-bottom: 48px;
}
@media (max-width: 992px) {
  .classic-list {
    flex-direction: column;
    align-items: center;
  }
}
.classic-list .classic-card {
  width: calc(33.33333% - 16px);
}
@media (max-width: 992px) {
  .classic-list .classic-card {
    width: 45%;
  }
}
@media (max-width: 576px) {
  .classic-list .classic-card {
    width: 100%;
  }
}
.classic-list .glass-type {
  font-size: 48px;
  font-weight: bold;
  margin-top: 8px;
  color: #aa0601;
  font-style: italic;
}
@media (max-width: 992px) {
  .classic-list .glass-type {
    margin-bottom: 24px;
  }
}
.designed-glasses {
  background-image: url(/assets/images/index-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 80px 0;
}
@media (max-width: 992px) {
  .designed-glasses {
    background-image: url(/assets/images/index-bg-md.png);
  }
}
@media (max-width: 576px) {
  .designed-glasses {
    background-image: url(/assets/images/index-bg-sm.png);
  }
}
.designed-glasses .designed-title {
  text-align: center;
  color: #ffffff;
  margin-bottom: 48px;
}
@media (max-width: 992px) {
  .designed-glasses .designed-list {
    flex-direction: column;
    align-items: center;
  }
}
.designed-glasses .designed-card {
  width: 50%;
}
@media (max-width: 992px) {
  .designed-glasses .designed-card {
    width: 100%;
  }
  .designed-glasses .mb-24 {
    margin-bottom: 24px;
  }
}
@media (max-width: 576px) {
  .designed-glasses .designed-card {
    width: 100%;
  }
}
.designed-glasses .designed-img {
  width: 100%;
  height: 240px;
  background-repeat: no-repeat;
  background-size: cover;
}
.designed-glasses .img1 {
  background-image: url(/assets/images/home-section4-1.png);
}
.designed-glasses .img2 {
  background-image: url(/assets/images/home-section4-2.png);
}
@media (max-width: 576px) {
  .designed-glasses .img1 {
    background-image: url(/assets/images/home-section4-1-sm.png);
  }
  .designed-glasses .img2 {
    background-image: url(/assets/images/home-section4-2-sm.png);
  }
}
.designed-glasses .designed-type {
  background-color: #ffffff;
  font-size: 48px;
  font-weight: bold;
  font-style: italic;
  color: #aa0601;
  text-align: center;
  padding: 8px 0;
}
.costumer-recommand {
  padding: 80px 0;
}
.costumer-recommand .recommand-title {
  color: #650300;
  text-align: center;
  margin-bottom: 48px;
}
.costumer-recommand .blog {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 2px 6px #00000029;
  border: 1px solid #dee2e6;
  border-radius: 4px;
  width: calc(25% - 12px);
}
@media (max-width: 992px) {
  .costumer-recommand .blog-list {
    flex-wrap: wrap;
  }
  .costumer-recommand .blog {
    width: calc(50% - 12px);
  }
  .costumer-recommand .mb-24 {
    margin-bottom: 24px;
  }
}
@media (max-width: 576px) {
  .costumer-recommand {
    padding: 40px 0;
  }
  .costumer-recommand .blog {
    width: 100%;
  }
  .costumer-recommand .mb-16 {
    margin-bottom: 16px;
  }
}
.costumer-recommand .blog-content {
  flex-direction: column;
  padding: 16px;
  height: 205px;
}
.costumer-recommand .name {
  margin-bottom: 8px;
}
.costumer-recommand .date {
  color: #707070;
}
.contact {
  padding: 80px 0;
  background-color: #fbf2f2;
}
.contact-title {
  text-align: center;
  color: #650300;
  margin-bottom: 48px;
}
.content-input {
  width: 636px;
  margin: 0 auto;
}
@media (max-width: 992px) {
  .content-input {
    width: 576px;
  }
}
@media (max-width: 576px) {
  .content-input {
    width: 100%;
  }
}
.content-input .input {
  width: 100%;
  height: 36px;
}
.content-input .input-feedback {
  height: 136px;
}
.contact .mb-48 {
  margin-bottom: 48px;
}
.contact .mb-24 {
  margin-bottom: 24px;
}
.contact .mb-16 {
  margin-bottom: 16px;
}
