<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Classic Glasses</title>
  </head>
  <body>
    <%- include("./layout/nav") -%>
    <!-- glasses style -->
    <div class="classic-style">
      <div class="container">
        <div class="classic-option">
          <ul class="classic-list d-flex fz-h3 jcsa">
            <li class="option">OPTICLAL</li>
            <li class="option">SUNGLASSES</li>
            <li class="option">FUNCTIONAL</li>
          </ul>
        </div>
      </div>
    </div>
    <!-- glasses introduction image -->
    <div class="classic-img d-flex">
      <div class="img img1"></div>
      <div class="img img2"></div>
    </div>
    <!-- glasses title -->
    <div class="glasses-title">
      <div class="container">
        <h1 class="title-en">Celluloid Combi</h1>
        <h2 class="title-zh">賽璐珞鈦金屬混合鏡框</h2>
      </div>
    </div>
    <!-- glasses cards -->
    <div class="glasses-cards">
      <div class="container">
        <div class="row">
          <div class="card col-3 col-lg-6 col-sm-12">
            <div class="card-img">
              <img src="../assets/images/product-1.png" alt="" />
            </div>
            <div class="detail d-flex jcsb fz-24">
              <div class="device">BJ41600S</div>
              <div class="price">NTD3,490</div>
            </div>
            <div class="color d-flex">
              <div class="box box1 mr-8"></div>
              <div class="box box2"></div>
            </div>
          </div>
          <div class="card col-3 col-lg-6 col-sm-12">
            <div class="card-img">
              <img src="../assets/images/product-2.png" alt="" />
            </div>
            <div class="detail d-flex jcsb fz-24">
              <div class="device">BJ41600S</div>
              <div class="price">NTD3,490</div>
            </div>
            <div class="color d-flex">
              <div class="box box1 mr-8"></div>
              <div class="box box2"></div>
            </div>
          </div>
          <div class="card col-3 col-lg-6 col-sm-12">
            <div class="card-img">
              <img src="../assets/images/product-3.png" alt="" />
            </div>
            <div class="detail d-flex jcsb fz-24">
              <div class="device">BJ41600S</div>
              <div class="price">NTD3,490</div>
            </div>
            <div class="color d-flex">
              <div class="box box1 mr-8"></div>
              <div class="box box2"></div>
            </div>
          </div>
          <div class="card col-3 col-lg-6 col-sm-12">
            <div class="card-img">
              <img src="../assets/images/product-4.png" alt="" />
            </div>
            <div class="detail d-flex jcsb fz-24">
              <div class="device">BJ41600S</div>
              <div class="price">NTD3,490</div>
            </div>
            <div class="color d-flex">
              <div class="box box1 mr-8"></div>
              <div class="box box2"></div>
            </div>
          </div>
          <div class="card col-3 col-lg-6 col-sm-12">
            <div class="card-img">
              <img src="../assets/images/product-5.png" alt="" />
            </div>
            <div class="detail d-flex jcsb fz-24">
              <div class="device">BJ41600S</div>
              <div class="price">NTD3,490</div>
            </div>
            <div class="color d-flex">
              <div class="box box1 mr-8"></div>
              <div class="box box2"></div>
            </div>
          </div>
          <div class="card col-3 col-lg-6 col-sm-12">
            <div class="card-img">
              <img src="../assets/images/product-6.png" alt="" />
            </div>
            <div class="detail d-flex jcsb fz-24">
              <div class="device">BJ41600S</div>
              <div class="price">NTD3,490</div>
            </div>
            <div class="color d-flex">
              <div class="box box1 mr-8"></div>
              <div class="box box2"></div>
            </div>
          </div>
          <div class="card col-3 col-lg-6 col-sm-12">
            <div class="card-img">
              <img src="../assets/images/product-7.png" alt="" />
            </div>
            <div class="detail d-flex jcsb fz-24">
              <div class="device">BJ41600S</div>
              <div class="price">NTD3,490</div>
            </div>
            <div class="color d-flex">
              <div class="box box1 mr-8"></div>
              <div class="box box2"></div>
            </div>
          </div>
          <div class="card col-3 col-lg-6 col-sm-12">
            <div class="card-img">
              <img src="../assets/images/product-8.png" alt="" />
            </div>
            <div class="detail d-flex jcsb fz-24">
              <div class="device">BJ41600S</div>
              <div class="price">NTD3,490</div>
            </div>
            <div class="color d-flex">
              <div class="box box1 mr-8"></div>
              <div class="box box2"></div>
            </div>
          </div>
          <div class="card col-3 col-lg-6 col-sm-12">
            <div class="card-img">
              <img src="../assets/images/product-9.png" alt="" />
            </div>
            <div class="detail d-flex jcsb fz-24">
              <div class="device">BJ41600S</div>
              <div class="price">NTD3,490</div>
            </div>
            <div class="color d-flex">
              <div class="box box1 mr-8"></div>
              <div class="box box2"></div>
            </div>
          </div>
          <div class="card col-3 col-lg-6 col-sm-12">
            <div class="card-img">
              <img src="../assets/images/product-10.png" alt="" />
            </div>
            <div class="detail d-flex jcsb fz-24">
              <div class="device">BJ41600S</div>
              <div class="price">NTD3,490</div>
            </div>
            <div class="color d-flex">
              <div class="box box1 mr-8"></div>
              <div class="box box2"></div>
            </div>
          </div>
          <div class="card col-3 col-lg-6 col-sm-12">
            <div class="card-img">
              <img src="../assets/images/product-11.png" alt="" />
            </div>
            <div class="detail d-flex jcsb fz-24">
              <div class="device">BJ41600S</div>
              <div class="price">NTD3,490</div>
            </div>
            <div class="color d-flex">
              <div class="box box1 mr-8"></div>
              <div class="box box2"></div>
            </div>
          </div>
          <div class="card col-3 col-lg-6 col-sm-12">
            <div class="card-img">
              <img src="../assets/images/product-12.png" alt="" />
            </div>
            <div class="detail d-flex jcsb fz-24">
              <div class="device">BJ41600S</div>
              <div class="price">NTD3,490</div>
            </div>
            <div class="color d-flex">
              <div class="box box1 mr-8"></div>
              <div class="box box2"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="pages">
      <div class="container d-flex jcc aic">
        <a href="#" class="page pre-page">上一頁</a>
        <a href="#" class="page number-page">1</a>
        <a href="#" class="page number-page">2</a>
        <a href="#" class="page number-page">3</a>
        <a href="#" class="page number-page">4</a>
        <a href="#" class="page number-page">5</a>
        <a href="#" class="page next-page">下一頁</a>
      </div>
    </div>

    <%- include("./layout/footer") -%>
    <script type="module" src="../main.js"></script>
  </body>
</html>
