<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Store Location</title>
  </head>
  <body>
    <%- include("./layout/nav") -%>

    <div class="store-location">
      <div class="container">
        <h1 class="fz-h2">門市據點</h1>
        <div class="selection d-flex">
          <label class="location-label" for="location">選擇地區</label>
          <select class="location" name="location" id="location">
            <option class="location-option" value="">台北市</option>
            <option class="location-option" value="">台中市</option>
            <option class="location-option" value="">高雄市</option>
          </select>
        </div>
        <ul class="location-cards row">
          <li class="card col-4 col-lg-6 col-sm-12">
            <a href="#"
              ><img
                src="../assets/images/store-1.png"
                alt="store-1"
                class="store-img"
              />
              <h4 class="border">台北中山旗艦店</h4>
              <div class="detail border">
                <p class="phone">
                  <img
                    class="icon"
                    src="../assets/images/phone.png"
                    alt=""
                  />電話：(02)000-1234
                </p>
                <p class="time">
                  <img
                    class="icon"
                    src="../assets/images/time.png"
                    alt=""
                  />營業時間：10:00-21:00
                </p>
                <div class="locate d-flex ais">
                  <img
                    class="icon locate-img"
                    src="../assets/images/location.png"
                    alt=""
                  />
                  <p class="locate">地址：台北市中山區南京東路25巷2-1號</p>
                </div>
              </div>
              <div class="btn">詳細資料</div>
            </a>
          </li>
          <li class="card col-4 col-lg-6 col-sm-12">
            <a href="">
              <img
                src="../assets/images/store-2.png"
                alt="store-2"
                class="store-img"
              />
              <h4 class="border">台北綠園店</h4>
              <div class="detail border">
                <p class="phone">
                  <img
                    class="icon"
                    src="../assets/images/phone.png"
                    alt=""
                  />電話：(02)000-2345
                </p>
                <p class="time">
                  <img
                    class="icon"
                    src="../assets/images/time.png"
                    alt=""
                  />營業時間：10:00-21:00
                </p>
                <div class="locate d-flex ais">
                  <img
                    class="icon locate-img"
                    src="../assets/images/location.png"
                    alt=""
                  />
                  <p class="locate">地址：台北市中正區復興南路 132-1 號</p>
                </div>
              </div>
              <div class="btn">詳細資料</div>
            </a>
          </li>
          <li class="card col-4 col-lg-6 col-sm-12">
            <a href="">
              <img
                src="../assets/images/store-3.png"
                alt="store-3"
                class="store-img"
              />
              <h4 class="border">台中清水旗艦店</h4>
              <div class="detail border">
                <p class="phone">
                  <img
                    class="icon"
                    src="../assets/images/phone.png"
                    alt="phone"
                  />電話：(02)000-1234
                </p>
                <p class="time">
                  <img
                    class="icon"
                    src="../assets/images/time.png"
                    alt="time"
                  />營業時間：10:00-21:00
                </p>
                <div class="locate d-flex ais">
                  <img
                    class="icon locate-img"
                    src="../assets/images/location.png"
                    alt=""
                  />
                  <p class="locate">地址：台中市清水區經南一路 23 號 8 樓</p>
                </div>
              </div>
              <div class="btn">詳細資料</div>
            </a>
          </li>
          <li class="card col-4 col-lg-6 col-sm-12">
            <a href=""
              ><img
                src="../assets/images/store-4.png"
                alt="store-4"
                class="store-img"
              />
              <h4 class="border">高雄中正形象店</h4>
              <div class="detail border">
                <p class="phone">
                  <img
                    class="icon"
                    src="../assets/images/phone.png"
                    alt=""
                  />電話：(07)000-2345
                </p>
                <p class="time">
                  <img
                    class="icon"
                    src="../assets/images/time.png"
                    alt=""
                  />營業時間：10:00-21:00
                </p>
                <div class="locate d-flex ais">
                  <img
                    class="icon locate-img"
                    src="../assets/images/location.png"
                    alt=""
                  />
                  <p class="locate">地址：高雄市苓雅區中正路 38 號 12 樓</p>
                </div>
              </div>
              <div class="btn">詳細資料</div>
            </a>
          </li>
          <li class="card col-4 col-lg-6 col-sm-12">
            <a href="">
              <img
                src="../assets/images/store-5.png"
                alt="store-5"
                class="store-img"
              />
              <h4 class="border">高雄夢時代店</h4>
              <div class="detail border">
                <p class="phone">
                  <img
                    class="icon"
                    src="../assets/images/phone.png"
                    alt=""
                  />電話：(07)000-1234
                </p>
                <p class="time">
                  <img
                    class="icon"
                    src="../assets/images/time.png"
                    alt=""
                  />營業時間：10:00-21:00
                </p>
                <div class="locate d-flex ais">
                  <img
                    class="icon locate-img"
                    src="../assets/images/location.png"
                    alt=""
                  />
                  <p class="locate">地址：高雄市前鎮區中華一路 63 號 6 樓</p>
                </div>
              </div>
              <div class="btn">詳細資料</div>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <%- include("./layout/footer") -%>
    <script type="module" src="../main.js"></script>
  </body>
</html>
